{% extends "shared/base.html" %}{% load i18n %}{% load staticfiles %}
{% block authenticationoverride %}
	<script type="text/javascript" src='{% static "guestmanagement/js/guestlogin.js" %}'></script>
	{% if not guest_list and not guest_login %}
		<form action='.' method='post'>
			{% csrf_token %}
			Last 4 ssn: <input type="text" name="ssn"> or Last Name <input type="text" name="last_name"> or ID Number <input type="text" name="id"> or barcode <input type="password" name="barcode"><br>
			<input type='submit' value='Submit' name='submit'/>
		</form>
	{% elif guest_list %}
        Select your name</br>
        Last name, First name, Id</br>
		{% for i in guest_list %}
			<a href='/guestmanagement/guestlogin/{{ i.1 }}/'>{{ i.0 }}, {{ i.2 }}, {{ i.1 }}</a></br>
		{% endfor %}
        </br></br>
        <a href="/guestmanagement/guestlogin/">Try another search</a>
	{% else %}
		<form action='.' method='post'>
			{% csrf_token %}
            Guest name starts with</br></br> {{ guest_name }}</br></br>
			Password: <input type="password" name="password">
			<input type='submit' value='Login' name='login'/>
		</form>
	{% endif %}
{% endblock %}
