{% extends "shared/base.html" %}{% load i18n %}{% load staticfiles %}
{% block title %}
	{% trans 'Manage' %}{% if target_type %} {% endif %}{{ target_type.capitalize }}{% if target_type and not target_object %}s{% endif %}{% if target_object %} {{ target_object.name }}{% endif %}
{% endblock %}
{% block pretitle %}
    <h1>{% trans 'Manage' %}{% if target_type %} {% endif %}{{ target_type.capitalize }}{% if target_type and not target_object %}s{% endif %}{% if target_object %} {{ target_object.name }}{% endif %}:</h1><br/>
    {% if target_object and not target_object == 'new' and view_perm %}<a href='/guestmanagement/view/{{ target_type.split|join:"_" }}/{{ target_object.id }}/'>View {{ target_object.name }}</a>{% endif %}</br>
{% endblock %}
{% block content %}
    {% if not target_type %}
        {% if perms.guestmanagement.manage_guest or perms.guestmanagement.view_guest %}<a href='/guestmanagement/manage/guest/'>Guests</a><br/>{% endif %}
        {% if perms.guestmanagement.manage_form or perms.guestmanagement.view_form %}<a href='/guestmanagement/manage/form/'>Forms</a><br/>{% endif %}
        {% if perms.guestmanagement.manage_field or perms.guestmanagement.view_field %}<a href='/guestmanagement/manage/field/'>Fields</a><br/>{% endif %}
        {% if perms.guestmanagement.manage_program or perms.guestmanagement.view_program %}<a href='/guestmanagement/manage/program/'>Programs</a><br/>{% endif %}
        {% if perms.guestmanagement.manage_prerequisite or perms.guestmanagement.view_prerequisite %}<a href='/guestmanagement/manage/prerequisite/'>Prerequisites</a><br/>{% endif %}
        {% if perms.guestmanagement.manage_permission or perms.guestmanagement.view_permission %}<a href='/guestmanagement/manage/permission/'>Permissions</a><br/>{% endif %}
        {% if perms.guestmanagement.manage_report or perms.guestmanagement.view_report %}<a href='/guestmanagement/manage/report/'>Reports</a><br/>{% endif %}
        {% if perms.guestmanagement.manage_attachment or perms.guestmanagement.view_attachment %}<a href='/guestmanagement/manage/attachment/'>Attachments</a><br/>{% endif %}
        {% if perms.guestmanagement.manage_permission or perms.guestmanagement.view_permission %}<a href='/guestmanagement/manage/user_permission_setting/'>Set User Permissions</a><br/>{% endif %}
        <a href='/guestmanagement/quickfilter/'>Quick Filter</a><br/>
    {% elif not target_object %}
		{% if "guestmanagement.add_"|add:target_type in perms %}
			<a href='/guestmanagement/manage/{{ target_type.split|join:"_" }}/new/'>Create {{ target_type.capitalize }}</a><br/>
		{% endif %}
        <h5>Search for {{ target_type }}:</h5>
        <form action='.' method='post' autocomplete="off">
            {% csrf_token %}
            {{ search_html }}
            <input id='search' type='submit' value='Search'>
        </form><br/>
        <table>
            <tr>
                {{ table_header_html }}
            </tr>
            {% for i in object_list %}
                <tr>
                    {% for a in i %}
                        {% if not forloop.last %}
							{% if not forloop.first %}
								<td>{{ a }}</td>
							{% endif %}
                        {% else %}
							{% if i.0.0 %}
								<td><a href='/guestmanagement/manage/{{ target_type.split|join:"_" }}/{{ a }}/'>Edit {{ target_type.capitalize }}</a></td>
							{% endif %}
							{% if target_type != 'user_permission_setting' and i.0.1 %}
								{% if not i.0.0 %}
									<td></td>
								{% endif %}
								<td><a href='/guestmanagement/view/{{ target_type.split|join:"_" }}/{{ a }}/'>View {{ target_type.capitalize }}</a></td>
							{% endif %}
                        {% endif %}
                    {% endfor %}
                    
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <h5>{{ create_or_edit }} {{ target_type }}:</h5>
        {% if create_or_edit == 'Modify' %}
            {% if "guestmanagement.delete_"|add:target_type in perms %}
				<form action='.' method='post' autocomplete="off" name="DeleteForm">
					{% csrf_token %}
						<input id='delete_{{ target_type }}' type='text' name='delete_{{ target_type }}' value='delete_{{ target_type }}' hidden>
						<input type='button' value='Delete {{ target_type.capitalize }}' onclick="formSubmitConfirm('DeleteForm','Confirm Delete {{ target_type.capitalize }}')">
				</form>
            {% endif %}
        {% endif %}
        {% if other_reports %}
			<form action='.' method='post' autocomplete="off" name="CopyForm">
				{% csrf_token %}
					<select id='copy_report' name='copy_report'>
						<option value=""></option>
						{% for i in other_reports %}
							<option value="{{ i.0 }}" >{{ i.1 }}</option>
						{% endfor %}
					</select>
					
					<input type='button' value='Copy' onclick="formSubmitConfirm('CopyForm','Confirm Copy')">
			</form>
        {% endif %}
        <div class='form_container'>
            <form action='.' method='post' autocomplete="off" enctype="multipart/form-data" name='TotalForm'>
                {% if target_type == 'report' %}
                    <input type='button' value='Report Builder' onclick="toggleReportView()" id="report_view_toggle" />
                    <input type='button' value='Submit' id='search' onclick='processReport(this)' />
                    <input type='button' value='Submit and Continue Editing' onclick='processReport(this)' />
                    <input type='button' value='Insert Row' onclick='insertRow()' id="insert_row" />
                {% endif %}
                <div id="standard_form">
					{% if target_type == 'report' %}
						<a href='/guestmanagement/reportwiki/'>Report Builder wiki</a><br />
					{% endif %}
					{% csrf_token %}
					{{ form }}
                </div>
                {% if target_type == 'report' %}
                    <script type="text/javascript" src="{% static "guestmanagement/js/report.js" %}"></script>
                    <link rel="stylesheet" type="text/css" href="{% static "guestmanagement/css/report.css" %}" />
                    <div id='report_form'>
                        <input hidden id='loaded_report' value='{{ loaded_report }}'/>
                        <input hidden id='loaded_fields' value='{{ all_field_dict }}'/>
                        <input hidden id='report_functions' value='{{ available_functions }}'/>
                        <input hidden id='helper_variables' value='{{ helper_variables }}'/>
                        <div id='report_title'>title</div>
                        <div id='field_select'>
                            <div id='form_select'>
                                <h1>Select Form</h1>
                                <ul>
                                    <li onclick='selectForm(this)'>date</li>
                                    <li onclick='selectForm(this)'>guest</li>
                                    {% for i in all_forms_list %}
                                        <li onclick='selectForm(this)'>{{ i }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                            <div id='fields'>
                                <h1>Select Field</h1>
                                <table></table>
                            </div>
                        </div>
                        <div id='report_builder'><div><h1>Build Report</h1></div></div>
                        <div id='function_select'>
                            <h1>Defined Variables</h1>
                            <ul>
                            <li>hello world</li>
                            </ul>
                        </div>
                    </div>
                {% endif %}
                {% if target_type != 'report' %}<input id='search' type='submit' value='Submit'>{% endif %}
            </form>
        </div>
    {% endif %}

{% endblock %}
