{% extends "shared/base.html" %}{% load i18n %}{% load staticfiles %}
{% block title %}
	{% trans 'Quick Filter' %}
{% endblock %}
{% block pretitle %}
<h1>Quick Filter:</h1><br />
{% endblock %}
{% block content %}
<input name='field_list' id='field_list' value="{{ field_list }}" hidden />
<script type="text/javascript" src="{% static "guestmanagement/js/quickfilter.js" %}"></script>
<form action='.' method='post' autocomplete="off" enctype="multipart/form-data">
	<h5>Pick Form:</h5>
	<select name="form_select" onChange="changeForm(this);">
		<option value=""></option>
		{% for i in form_list %}
			<option value="{{ i }}">{{ i }}</option>
		{% endfor %}
	</select><br />
	<div id='field_select_div'></div>
	<div id='filter_div'></div>
	<div id='viewer_div'></div>
</form>
{% endblock %}
