{% extends "shared/base.html" %}{% load i18n %}{% load staticfiles %}
{% block title %}
	{% trans 'View' %} {{ target_type.capitalize }} {{ target_object.name }}{% if target_object.label %} (aka {{ target_object.label }}){% endif %}
{% endblock %}
{% block pretitle %}
	<h1>{% trans 'View' %} {{ target_type.capitalize }} {{ target_object.name }}{% if target_object.label %} (aka {{ target_object.label }}){% endif %}:</h1><br/>
	{% if "guestmanagement.manage_"|add:target_type in perms and "guestmanagement.change_"|add:target_type in perms %}
		<a href='/guestmanagement/manage/{{ target_type }}/{{ target_object.id }}/'>Manage {{ target_type }} {{ target_object.name }}</a></br>
	{% endif %}
{% endblock %}
{% block content %}
	{{ view_image }}</br>
	{% if guest_logged_in %}<a href='/guestmanagement/logout/'>Logout</a>{% endif %}
	{% if target_type == 'guest' %}
		<table>
			<tr><th>Form Name</th></tr>
			{% for i in form_list %}
				<tr>
					<td>{{ i.0 }}</td>
					{% if i.1 != 'Completed' or not i.2 or perms.guestmanagement.change_guestformscompleted %}
						<td><a href='/guestmanagement/view/form/{{ i.0.id }}/{{ target_object.id }}/?next={{ nexturl }}'>Complete Form</a></td>
					{% else %}
						<td></td>
					{% endif %}
					{% if perms.guestmanagement.view_forms or perms.guestmanagement.manage_forms %}
						<td><a href='/guestmanagement/view/form/{{ i.0.id }}/?next={{ nexturl }}'>Edit Form</a></td>
					{% endif %}
					<td>{{ i.1 }}</td>
					{% if i.3 %}
						<td>{{ i.3 }}%</td>
					{% endif %}
					{% if i.2 and i.1 == 'Completed' and perms.guestmanagement.delete_guestformscompleted %}
						<td><a href='/guestmanagement/unsetcomplete/{{ i.0.id }}/{{ target_object.id }}/?next={{ nexturl }}'>Set Incomplete</a></td>
					{% endif %}
					{% if i.4 and perms.guestmanagement.change_guestformscompleted  %}
						<td><a href='/guestmanagement/setscore/{{ i.0.id }}/{{ target_object.id }}/?next={{ nexturl }}'>Set Score</a></td>
					{% endif %}
                    {% if perms.guestmanagement.change_guesttimedata %}
                        <td><a href='/guestmanagement/edit/{{ target_object.id }}/{{ i.0.id }}/'>Edit Past Form</a></td>
                    {% endif %}
				</tr>
			{% endfor %}
		</table>

	{% elif target_type == 'form' %}
		{% if second_object %}
			<form action='.' method='post' enctype="multipart/form-data">
				{% csrf_token %}
				{{ form }}
				{% if user.is_authenticated and write_perm%}
					<div class="floating_button">
						<input type='button' value='Update' class="floating_button" onclick='scrollReturn(this)'/>
						{% if required_failed %}
							<br />
							<br />
							<p class='errornote'>Enter All Required Fields</p>
						{% endif %}
					</div>
				{% endif %}
				{% if write_perm %}
					<input type='submit' value='Submit and Continue' name='submit_form'/>
				{% else %}
					<input type='submit' value='Continue' name='submit_form'/>
				{% endif %}
			</form>
		{% else %}
			<table>
				<tr><th>Field Name</th><th>Field Order</th></tr>
				{% for i in field_list %}
					<tr>
						<td><a href='/guestmanagement/view/field/{{ i.id }}/'>{{ i.label }}</a></td>
						<td>{{ i.order }}</td>
						{% if write_perm %}
							<td>
								<form action='.' method='post'>
									{% csrf_token %}
									<input id='move_type' type='text' name='move_type' value='up' hidden>
									<input id='move_field' type='text' name='move_field' value='{{ i.id }}' hidden>
									<input id='search' type='submit' value='Up' onclick='scrollReturn(this)'>
								</form>
							</td>
							<td>
								<form action='.' method='post'>
									{% csrf_token %}
									<input id='move_type' type='text' name='move_type' value='down' hidden>
									<input id='move_field' type='text' name='move_field' value='{{ i.id }}' hidden>
									<input id='search' type='submit' value='Down' onclick='scrollReturn(this)'>
								</form>
							</td>
							<td>
								<form action='.' method='post'>
									{% csrf_token %}
									<input id='move_type' type='text' name='move_type' value='top' hidden>
									<input id='move_field' type='text' name='move_field' value='{{ i.id }}' hidden>
									<input id='search' type='submit' value='Top' onclick='scrollReturn(this)'>
								</form>
							</td>
							<td>
								<form action='.' method='post'>
									{% csrf_token %}
									<input id='move_type' type='text' name='move_type' value='bottom' hidden>
									<input id='move_field' type='text' name='move_field' value='{{ i.id }}' hidden>
									<input id='search' type='submit' value='Bottom' onclick='scrollReturn(this)'>
								</form>
							</td>
						{% endif %}
					</tr>
				{% endfor %}
			</table>
		{% endif %}
	{% elif target_type == 'report' %}
		{{ target_object.description }}</br>
		<script type="text/javascript" src='{% static "guestmanagement/js/report.js" %}'></script>
		{% if variables %}
			<table>
				<tr><th>Variable Name</th><th>Value</th></tr>
				{% for i in variables %}
					<tr>
						<td>
							{{ i.0 }}
						</td>
						<td>
							{% if i.1 %}
								<select name='variable__{{ i.0 }}' />
								{% for a in i.1 %}
									<option value='{{ a }}'>{{ a }}</option>
								{% endfor %}
							{% else %}
								<input name='variable__{{ i.0 }}' />
							{% endif %}
						</td>
					</tr>
				{% endfor %}
			</table>
		{% endif %}
		<a href='/guestmanagement/runreport/{{ target_object.id }}/' onclick=runReport(this)>Run Report</a>
	{% endif %}
	{% if link_list %}
		{% for i in link_list %}
			<h5>{{ i.0 }}</h5></br>
			{% for a in i.2 %}
				{% if i.1 != 'nolink' %}
					<a href='/guestmanagement/view/{{ i.1 }}/{{ a.id }}/'>{{ a }}</a></br>
				{% else %}
					{{ a }}</br>
				{% endif %}
			{% endfor %}
		{% endfor %}
	{% endif %}
{% endblock %}
