{% extends "shared/base.html" %}{% load i18n %}
{% block pretitle %}
	<h1 style='font-size:400%'>{% trans 'Scheduling' %} {{ target_truck }}</h1><br/>
	{% if target_donor %}
		<div class='inlineforms'>
			for <b>{{ target_donor }}</b> (<a href='/admin/truckmanagement/donor/{{ target_donor.id }}/' target="_blank">View</a>)
			<form action='.' method='post'>
				{% csrf_token %}
				<input id='clear_donor' type='text' name='clear_donor' value='clear_donor' hidden>
				<input id='search' type='submit' value='Clear'>
			</form>
		</div>
	{% endif %}
{% endblock %}
{% block content %}
	{% if user.is_authenticated and user.is_active%}
		<div class="sidebar">
			<h3>Trucks</h3><br/>
			<form action='.' method='post'>
				{% csrf_token %}
				<input id='all_trucks' type='text' name='all_trucks' value='all_trucks' hidden>
				{% if not target_truck %}
					<input id="trucktarget" type='submit' value='All Trucks'>
				{% else %}
					<input id="trucksubmit" type='submit' value='All Trucks'>
				{% endif %}
			</form>
			{% for truck in truck_list %}
				<form action='.' method='post'>
					{% csrf_token %}
					<input id='target_truck' type='text' name='target_truck' value='{{ truck }}' hidden>
					{% if target_truck == truck %}
						<input id="trucktarget" type='submit' value='{{ truck }}'>
					{% else %}
						<input id="trucksubmit" type='submit' value='{{ truck }}'>
						
					{% endif %}
				</form>
			{% endfor %}
		</div>
		<div class='inlineforms'>
			Toggle week/month view
			<form action='.' method='post'>
				{% csrf_token %}
				<input id='toggle_week_view' type='text' name='toggle_week_view' value='toggle_week_view' hidden>
				<input id='next' type='submit' value='{{ toggle_week_view }}'>
			</form><br/>
			<form action='.' method='post'>
				{% csrf_token %}
				Go to Month
				<select name='jump_month'>
					<option value='Jan'>January</option>
					<option value='Feb'>February</option>
					<option value='Mar'>March</option>
					<option value='Apr'>April</option>
					<option value='May'>May</option>
					<option value='Jun'>June</option>
					<option value='Jul'>July</option>
					<option value='Aug'>August</option>
					<option value='Sep'>September</option>
					<option value='Oct'>October</option>
					<option value='Nov'>November</option>
					<option value='Dec'>December</option>
				</select>
				 Year <input id='jump_year' type='text' name='jump_year' style="width:30px;" maxlength='4'>
				<input id='jump' type='submit' value='Go To'>
			</form><br/>
			<form action='.' method='post'>
				{% csrf_token %}
				<input id='prev_month' type='text' name='prev_month' value='prev_month' hidden>
				<input id='prev' type='submit' value='Prev'>
			</form>
			<h3>{{ month }}</h3> <h3>{{ year }}</h3>
			<form action='.' method='post'>
				{% csrf_token %}
				<input id='next_month' type='text' name='next_month' value='next_month' hidden>
				<input id='next' type='submit' value='Next'>
			</form>
		</div>
		<table id='calendar' style='{{ truck_color}}'>
			<tr>
				<td>Sunday</td><td>Monday</td><td>Tuesday</td><td>Wednesday</td><td>Thursday</td><td>Friday</td><td>Saturday</td>
			</tr>
			{% for week in month_list %}
				<tr>
					{% for day in week %}
						<td>
							<h4>{{ day.0 }}</h4>
							{% if day.0 %}
								{% if target_truck and target_donor %}
									<a href='/truckmanagement/new/{{ year }}/{{ month }}/{{ day.0 }}/'>New</a>{% if day.1 %}<hr/><br/>{% endif %}								
								{% endif %}
							{% endif %}
							{% for point in day.1 %}
								<p class='{{ point.2 }}'><a href='truckmanagement/donation/{{ point.0 }}/'>{{ point.1 }}</a><hr/></p>
							{% endfor %}
						</td>
					{% endfor %}
				</tr>
			{% endfor %}
		</table>
		<h3>Search for Donor</h3>
		<form action='.' method='post'>
			{% csrf_token %}
			Last Name <input id='last_name' type='text' name='last_name'>  
			First Name <input id='first_name' type='text' name='first_name'> 
			Company Name <input id='company_name' type='text' name='company_name'> 
			<input id='search' type='submit' value='Search'>
		</form>
		{% if donor_list %}
			<table name='donor_search_viewer'>
				<tr><th>First Name</th><th>Last Name</th><th>Company Name</th><th>Address</th><th>City</th><th>State</th><th>Zip</th></tr>
				{% for donor in donor_list %}
					<tr>
						{% for datum in donor.1 %}
							<td>{{ datum }}</td>
						{% endfor %}
						<td>
							<form action='.' method='post'>
								{% csrf_token %}
								<input id='target_donor' type='text' name='target_donor' value='{{ donor.0 }}' hidden>
								<input id='set_donor' type='submit' value='Set Donor'>
							</form>
						</td>
						<td>
							<a href='/admin/truckmanagement/donor/{{ donor.0 }}/' target="_blank">View</a>
						</td>
					{% endfor %}
				</tr>
			</table>
		{% endif %}
	{% else %}
		Show guest content <br/>
		Comming Soon... Maybe
	{% endif %}
{% endblock %}
